<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
   <div th:fragment="navbar">
      <div class="navbar navbar-fixed-top">
         <div class="navbar-inner">
            <div class="container">
               <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                  <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
               </a> 
               <a class="brand" th:href="@{/}">Главная</a>
               <div class="nav-collapse collapse navbar-responsive-collapse">
                  <ul class="nav">
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Лиды<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                           <li><a th:href="@{/server-side/data-default-reloading}">Все лиды</a></li>
                        </ul>
                     </li>
                  </ul>
                  <ul class="nav pull-right">
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Помощь
                           <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                           <li><a href="/">Пусто</a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>
</html>